p {
    color: red;
}

#paragraph {
    color: aqua
}

.akapit {
    color: darkorange;
}


/*łączenie selektorow */

a,
span,
div {
    color: chocolate;
}


/* selektor bezposredniego elementu potomnego*/

li>a {
    color: forestgreen;
}

div a {
    color: darksalmon;
}

h2+h3 {
    color: fuchsia;
}
